
 {{#each this}}

      {{#each prints}}

      <div class="content">
        <img width="40%" src="{{this.url}}" data-image-id="{{_id}}"alt="" />
        <h5 class="print-name1">{{name}}</h5>
        <h5 class="print-price1">${{price}}</h5>
        <h5 class="print-name1">{{description}}</h5>

        <button type="button" class="btn btn-warning delete-print" data-print-id="{{_id}}" data-toggle="modal" data-target="#delete-print-modal">Delete</button>
        </div>
        <br>
        <button type="button" class="btn btn-warning update-print" data-print-id="{{_id}}" data-toggle="modal" data-target="#update-print-modal">Update</button>
        </div>
        <br>
        <br>
        <hr>

   {{/each}}
 {{/each}}
